[Unit]
Description=ColdCeph Control
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/coldceph/control
ExecStart=/opt/coldceph/control/ColdCeph.Control
Environment=WEB_PORT=8080
Environment=S3_PORT=7480
Environment=COLDCEPH_DATA=/var/lib/coldceph
Environment=DOTNET_CONTENTROOT=/opt/coldceph/control
Environment=ASPNETCORE_CONTENTROOT=/opt/coldceph/control
StandardOutput=append:/var/log/coldceph-control.log
StandardError=append:/var/log/coldceph-control.err.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
